<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/semantic.min.js"></script>
    <script src="/javascripts/wordcloud2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.3.2/rxjs.umd.js"></script>
    <link rel="shortcut icon" href="/images/dt.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="/stylesheets/semantic.min.css" rel="stylesheet" type="text/css">
    <script type="module">
        
        console.log(1);

        const {
                    Observable,
                    Subject,
                    ReplaySubject,
                    from,
                    of ,
                    range,
                    fromEvent,
                    timer,
        } = rxjs;

        const {
                map,
                filter,
                switchMap,
                scan,
                groupBy
        } = rxjs.operators;

        function start(){
            var trends = <%- JSON.stringify(trends)%>;
            trends = from(trends[0].trends);
            trendCloud(trends);
            registrationButtonObservable();
        }
                
        // 搜索框得到id的值进行rxjs 的及时更替
        // click button and update cloud 
        function registrationButtonObservable() {
          const btn = document.querySelector('#wordCloudButton')
          fromEvent(btn, 'click').subscribe(
            (e) => {
              var trends = <%- JSON.stringify(trends)%>;
              trends = from(trends[0].trends);
              trendCloud(trends);
            }
          )
        }

        // Data from twiiter API trends
        function trendCloud(observable){
            var result = [];
            var i = 60;
            observable.pipe(
                map(element => {
                  return [element['name'], i--]
                })).subscribe( 
                  data => result.push(data)
                );
            wordCloudDraw(result);
        }

        // specify the id of region
        // function specifyID(observable){
        //   let component = document.getElementById('worldid')
        //   let KeyObs = fromEvent(component, 'keypress');
        //   KeyObs.pipe(

        //   )
        // }

        // Draw WordCloud 
        function wordCloudDraw(wordlist){
          WordCloud(document.getElementById('cloud'), {list:wordlist}, {shape:'cardioid'})
        }



        document.addEventListener('DOMContentLoaded', start);

    </script>
</head>

<body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="/" class="header item">
          <img class="logo" src="/images/hair.jpg">
          @realDonaldTrump
        </a>
        <a href="#" class="item">Home</a>
        <div class="ui simple dropdown item">
          Other Tacking Mode <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/graph">TrumpTwitterAnalysis</a>
            <a class="item" href="#">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            <div class="item">
              <i class="dropdown icon"></i>
              Sub Menu
              <div class="menu">
                <a class="item" href="#">Link Item</a>
                <a class="item" href="#">Link Item</a>
              </div>
            </div>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ui main text container">
      <h1 class="ui header">Donald Trump Twitter Popularity Track</h1>
      <p>This is a basic fixed menu template using fixed size containers.</p>
      <p>A text container is used for the main container, which is useful for single column layouts</p>
      <!-- <img class="wireframe" src="images/trumpTwitter.png"> -->

      <div class="ui search" style="float:left">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="world ID: default is 1" id="worldid">
          </div>
      </div>
         <div align="center">
          <button class="ui primary button" id="wordCloudButton"">
            Trends Search Now
          </button>
         </div> 
        
      
      <div class="ui segment" style="height:550px; width:600px;"> 
          <div class="cloud" id="cloud" style="height:500px; width:400px;margin-left: 100px;">
            placeholder
          </div>
                
      </div>
    </div>
    
  
</body>

</html>